@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Products</h4>
                <p class="card-text">100</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Orders</h4>
                <p class="card-text">200</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Customers</h4>
                <p class="card-text">50</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Reviews</h4>
                <p class="card-text">30</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Quick Links</h3>
        <ul>
            <li><a href="/Home/ManageReviews">Manage Reviews</a></li>
            <li><a href="/Home/ManageOrders">Manage Orders</a></li>
            <li><a href="/Home/ManageProducts">Manage Products</a></li>
            <li><a href="/Home/ManageEmployees">Manage Employees</a></li>
        </ul>
    </div>
</div>
