@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to MotoVibe</h1>
    <p class="lead">
        Find the best motorbikes, accessories, and service appointments.
    </p>
    <hr class="my-4" />
    <p>
        <a class="btn btn-primary btn-lg" href="/Home/Search" role="button">Search Products</a>
        <a class="btn btn-success btn-lg" href="/Home/Blog" role="button">Check out our Blog</a>
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Latest Products</h2>
        <!-- Example product listing (could be replaced with dynamic data) -->
        <ul>
            <li>Motorbike A</li>
            <li>Motorbike B</li>
            <li>Motorbike C</li>
        </ul>
    </div>
</div>
