@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "My Orders";
}

<h2>My Orders</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>View Details</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example static data; replace with real data from model -->
                <tr>
                    <td>1001</td>
                    <td>2025-01-15</td>
                    <td>Shipped</td>
                    <td>$1,500</td>
                    <td>
                        <a href="/Home/OrderDetails?orderId=1001" class="btn btn-primary">Details</a>
                    </td>
                </tr>
                <tr>
                    <td>1002</td>
                    <td>2025-01-20</td>
                    <td>Processing</td>
                    <td>$2,000</td>
                    <td>
                        <a href="/Home/OrderDetails?orderId=1002" class="btn btn-primary">Details</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
