@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Logout";
}

<h2>Logout</h2>

<div class="row">
    <div class="col-md-6">
        <p>You have been logged out successfully. Thank you for visiting!</p>
        <a href="/Home/Login" class="btn btn-primary">Go to Login Page</a>
    </div>
</div>
