@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Product List";
}

<h2>Product List</h2>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Example static data; replace with real data from model -->
                <tr>
                    <td>Motorbike A</td>
                    <td>$1,500</td>
                    <td>Sport Bike</td>
                    <td>
                        <a href="/Home/EditProduct?productId=1" class="btn btn-warning">Edit</a>
                        <a href="/Home/DisableProduct?productId=1" class="btn btn-danger">Disable</a>
                    </td>
                </tr>
                <tr>
                    <td>Motorbike B</td>
                    <td>$2,000</td>
                    <td>Cruiser</td>
                    <td>
                        <a href="/Home/EditProduct?productId=2" class="btn btn-warning">Edit</a>
                        <a href="/Home/DisableProduct?productId=2" class="btn btn-danger">Disable</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
